.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem; /* Adjust as needed */
  border-radius: 9999px; /* Full circle */
}

.btn-ping {
}

.btn-ping_dot {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite; /* Slower ping effect */
  border-radius: 9999px; /* Full circle */
  height: 24px; /* Size of the dot */
  width: 24px; /* Set width of the dot to 10px */
  background-color: #22c55e; /* Solid green */
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
